#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    color: white;
    text-decoration: none;
}

nav a :hover {
    color: black;
}

.home-title {
    color: black;
}

h4 {
    color: black;
}

#hero-msg h1 {
    text-align: center;
}

#hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
}


/* colors */

body {
    background-color: #fcfbfb;
}

header {
    background-color: rgba(20,30,13, .7);
}

nav a:hover {
    background-color: black;
}

.book {
   color: #274C77;
   text-decoration: none;
}

.join {
    color: #274C77;
    text-decoration: none;
}

.book:hover {
    color: black;
}

.join:hover {
    color: black;
}

#background {
    color: black;
}

.msg {
    color: green;
}

footer {
    color: black;
}

.msg h2 {
    color: black;
}

.msg p {
    color: black;
}

footer h3 {
    color: black;
}

footer a {
    color: #FF6978;
    text-decoration: none;
}

footer a:hover {
    color: #274C77;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
}

#hero-img {
    width: 100%;
}

footer h3 a:hover {
    text-decoration: underline;
}