/* HOME PAGE */
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Aldrich&family=Bungee&family=Bungee+Hairline&display=swap');

body {
    background-color:  black;
    font-family: Bungee Hairline;
}

a:link {
    color: white; 
}

a:hover {
    color: red;
}

/* header */

.home-link {
    width: 150px;
    align-items: center;
    justify-items: center;
    border-radius: 25px;

}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

#content-link {
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    color: white;
    margin-left: 50px;
    border-radius: 50px;
    height: 75px;
}

#content-link:hover {
    color: black;
}


#about-link {
    grid-column: 3/4;
    grid-row: 1/2;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    color: white;
    margin-right: 50px;
    border-radius: 50px;
    height: 75px;
    
}

#about-link:hover {
    color: black;
}

#home-link {
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;

}

/* main body */
main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
}

.welcome {
    color: white;
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
    padding-top: 75px;
    font-family: Aldrich;
    font-size: 30px;
}

.test {
    grid-column: 2/3;
    grid-row: 2/3;
}

/* footer */
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
}

#facebook {
    width: 25px;
    height: 25px;
    grid-column: 1/2;
    grid-row: 1/2;
    padding-left: 300px;
}

#instagram {
    width: 25px;
    height: 25px;
    grid-column: 2/3;
    grid-row: 1/2;

}

#gmail {
    width: 25px;
    height: 25px;
    grid-column: 3/4;
    grid-row: 1/2;
    padding-right: 300px;
}

#site-plan-link {
    grid-column: 2/3;
    padding: 10px;
}

/* Fonts */

/* CONTENT PAGE  */
